.home {
  background: url("../img/bg/bg1.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  width: 100%;
  height: auto;
}
.header__slider {
  padding-top: 150px;
  max-width: 945px;
  margin-left: auto;
  margin-right: auto;
}
.header__slider-title {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  z-index: 388;
}
.header__slider-text {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.714;
  text-align: center;
  z-index: 386;
  margin: 50px 0;
}
.header__slider-link1 {
  text-align: center;
  padding-bottom: 200px;
}
.header__slider-link {
  font-size: 16px;
  border: 2px solid #00e0d0;
  padding: 10px;
  font-family: "Hammersmith One", sans-serif;
  color: rgb(0, 224, 208);
  line-height: 1.2;
  z-index: 383;
  text-transform: uppercase;
}
.header__slider-link:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
}
#myBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #352b59;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__logo {
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}
.header__menu {
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}
.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}
.header__link:hover {
  color: #00e0d0;
}
@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 40px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #3a2c6b;
    padding: 70px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .header__link {
    font-size: 24px;
  }
}
